.App{
  
  height: 100vh;

}


.navBar{
    padding: 10px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 2px 2px 2px 2px #ccc;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;

}

.navLink{
    margin: 10px;
    text-decoration: none;
}

.navLink::after{
    color: red;
}

.movieList{
    display: flex;
    align-items: center;
    justify-content: center;
    

}
.MovieCard{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.GenreCard{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.BestMovieCard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vh;


}

.BestMovieCard img{
    height: 200px;
    width: 200px;
}



.MovieContent{
    display: flex;
    gap: 20px;
    width: 100vh;
}


.MovieContentLeft{
    display: flex;
    flex-direction: column;
    width: 400px;
    gap: 10px;
}

.MovieContentLeft img{
    width: 400px;
    height: 500px;
}

.MovieContentRight{
    display: flex;
    flex-direction: column;
    box-shadow: 2px 2px 2px 2px #ccc ;
    padding: 10px;
}

.actions{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.actions button{
    background-color: #fff;
    border: none;
    cursor: pointer;
}

.Typography{
    display: flex;
    width: 200px;
    border-radius: 20px;
    padding: 5px;
    background-color: #e35926;
    outline: none;
    text-align: center;
    box-shadow: 2px 2px 2px 2px #ccc;
    margin: 10px;

}

.releaseDate{
    display: flex;
    
}